AMQP_CALIBRATION_QUEUE=tracking.jobs.calibration
AMQP_CALIBRATION_RESULT_QUEUE=tracking.results.calibration
VITE_API_URL=http://localhost/api
POSTGRES_DB=gaze_db
POSTGRES_USER=gaze_user
POSTGRES_PASSWORD=password
DATA_DIR=/data
DATABASE_URL=postgresql+asyncpg://gaze_user:password@db:5432/gaze_db
AMQP_URL=amqp://guest:guest@rabbitmq:5672/
AMQP_QUEUE=tracking.jobs
AMQP_RESULT_QUEUE=tracking.results
MODELS_URL=https://raw.githubusercontent.com/jcdkiki/gaze-models/v2/